/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #31333c;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f7f2f626;
    transition: all .3s ease-in-out;
}

body {
    height: 100%;
    position: relative;
}

a:hover {
    cursor: pointer;
}

img {
    width: 100%;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
::-webkit-scrollbar 
{ 
    display: none; 
}
*/

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
    font-weight: normal;
    color: #040a25;
    font-family: 'Volkhov', serif;
    font-size: 3.111rem;
    line-height: 1.2;
    margin-left: -3px
}

h2 {
    color: #7B3B8B;
    font-weight: 700;
    font-size: 2.35rem;
    line-height: 1.3;

}

h3 {
    color: #312761;
    font-weight: normal;
    font-size: 1.333rem;
    line-height: 1.4;

}

h4 {
    color: #7B3B8B;
    font-weight: 700;
    font-size: .777rem;
    line-height: 1.4;
    opacity: .75;

}

h5 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    color: #7B3B8B;
    opacity: .75;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    opacity: 1;
}

ol li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {

}

.front-top-color {
    color: #F7F2F6; 
}

.front-top-color h1 {
    color: #F7F2F6; 
}

.front-top-color h3 {
    color: #F7F2F6; 
}

.front-top-color h4 {
    color: #F7F2F6; 
}

header h3 {
    color: #F7F2F6;
    margin-top: .66rem;
}

.info-meta {
    opacity: .5;
}

#info-name-content{
    line-height: 0;
}




.front-page-project h4{
    margin-top: -0.1rem;    
    margin-bottom: 0.2rem;
}

.front-page-project h1{  
    margin-bottom: 1rem;
    margin-top: 0;
}




/* ==========================================================================
   Layout and containers
   ========================================================================== */

header {
    grid-column: 1 / 13;
    justify-items: end;
}

.top-bg {
    position: absolute;
    height: 39.33rem;
    background-color: #4B65B3;
    width: 100%;
    z-index: -1;
}

.motive-bg {
    background-color: #64c571;
}

.container {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    grid-template-rows: 60px repeat(5 , 9rem) 1fr;
}

.info-description-container-meta {
    padding-top: 1.4rem;
    grid-column-start: 3;
    grid-row-start: 3;
}

.info-current-container-meta {
    margin-bottom: 3rem;
    align-self: end;
    grid-column-start: 3;
    grid-row-start: 4;
}

.info-name-container {
    align-self: end;
    grid-column: 4/11;
    grid-row-start: 2;
}

.info-description-container {
    grid-column: 4/11;
    grid-row-start: 3;
}

.info-current-container{
    margin-bottom: 1.5rem;
    align-self: end;
    grid-column: 4/11;
    grid-row-start: 4;

}

.front-page-project-container {
    grid-row: 7/22;
    grid-column: 2/12;
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
}

.project-page-container {
    grid-row: 7/22;
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
}

.front-page-project {
    display: flex;
    flex-direction: row;
    height: 18rem;
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


.project-page-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.full-width {
    padding-right: 12px;
    padding-left: 12px;
    width: 100%;
    height: auto;
}

.three-quarter {
    padding-right: 12px;
    padding-left: 12px;
    width: 75%;
    height: auto;
}

.two-third {
    padding-right: 12px;
    padding-left: 12px;
    width: 66%;
    height: auto;
}

.half {
    margin-right: 12px;
    margin-left: 12px;
    width: 50%;
    height: auto;
}

.third {
    padding-right: 12px;
    padding-left: 12px;
    width: 33%;
    height: auto;
}

.quarter {
    padding-right: 12px;
    padding-left: 12px;
    width: 25%;
    height: auto;
}

.spacer {
    margin-bottom: 3rem;
}

.spacer-small {
    margin-bottom: 1rem;
}

.spacer-large {
    margin-bottom: 9rem;
}

.embed-container-43 {
    position: relative; 
    padding-bottom: 66.66%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
}

.embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
}

.embed-container-43 {
    position: relative; 
    padding-bottom: 66.66%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed 
{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 98%; 
    height: 100%;
    margin-left: 12px;
    padding-right: 12px;
}

.extended-content-container {
    width: 128%;
    margin-left: -14%;
    padding: 20px 0;
}

.quote {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    background-color: #F7F2F6;
}

.quote-empty {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    background-color: none;
}


/* ----- Project specific stuff -------*/

.project-image-container {
    grid-column: 2/9;
    grid-row: 2;
    transform: scale(1.2);
}


/* ==========================================================================
   Components
   ========================================================================== */


header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-between;
}

nav {
    margin-right: 1rem;
    color: #F7F2F6;
}

nav ul li {
    display: inline-block;
    margin-left: 1rem;
    padding-right:.1rem; 
    padding-left:.1rem;
}

nav ul li a {
    position: relative;
    list-style: none;
    text-decoration: none;
}

.divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #0C1B58;
    padding: 0;

}

#front-page-divider {
    grid-column: 6/8;
    grid-row: 6;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    background: #EEA738;
    padding: 12px 24px 10px 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-style: none;
    transition: background .12s ease-out;
}

.button:hover {
    background: #D48202;
    cursor: pointer;
}

footer {
    color: #F7F2F6;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #0C1B58;
    text-align: center;
    margin-top: 3rem;
}

/* ==========================================================================
   Transitions and animations
   ========================================================================== */

.grow img { 
    transition: all .3s ease-in-out; 
}


.grow:hover img{
    transform: scale(1.025) rotate(-1deg); 
}


nav ul li a:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    width: 0%;
    border-bottom: 2px solid #F7F2F6;
    transition: 0.3s ease-in-out;
    }

nav ul li a:hover:after {
    width: 100%;
}

.load-animation {
    opacity: 0;
    -webkit-animation: fadein 1s ease-in 0.1s forwards;
    -moz-animation: fadein 1s ease-in 0.1s forwards;
    -ms-animation: fadein 1s ease-in 0.1s forwards;
    -o-animation: fadein 1s ease-in 0.1s forwards;
    animation: fadein 1s ease-in 0.1s forwards;
}

.load-animation-2 {
    opacity: 0;
    -webkit-animation: fadein 1s ease-in 0.4s forwards;
    -moz-animation: fadein 1s ease-in 0.4s forwards;
    -ms-animation: fadein 1s ease-in 0.4s forwards;
    -o-animation: fadein 1s ease-in 0.4s forwards;
    animation: fadein 1s ease-in 0.4s forwards;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */



@media only screen and (max-width: 1280px) {

    #kyle {
        padding-left: 1rem;
    }
}


@media only screen and (max-width: 960px) {

    html {
        font-size: 16px;
    }

    #kyle {
        padding-left: none;
    }

    .full-width {
        padding-left: 0;
    }

    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .extended-content-container {
        width: 100%;
        margin-left: 0;
    }

    .info-description-container-meta {
        padding-top: 1.4rem;
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .info-current-container-meta {
        margin-bottom: 3rem;
        align-self: end;
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .info-name-container {
        align-self: end;
        grid-column: 3/12;
        grid-row-start: 2;
    }

    .info-description-container {
        grid-column: 3/12;
        grid-row-start: 3;
    }

    .info-current-container{
        margin-bottom: 1.5rem;
        align-self: end;
        grid-column: 3/12;
        grid-row-start: 4;

    }
    
    .front-page-project-container, .project-page-container {
        grid-column: 1/13;
    }


    
}



@media only screen and (max-width: 768px) {


    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.8rem;
    }

    .container {
        padding-right: 16px;
        padding-left: 16px;
        grid-column-gap: 16px;
    }

        /* ----- Project specific stuff -------*/

    .project-image-container {
        grid-column: 1/13;
        grid-row: 2/5;
        transform: scale(1.2);
    }

    .three-quarter {
        width: 100%;
    }



}

@media only screen and (max-width: 576px) {


    html {
        font-size: 16px;
    }

    h1 {
        font-size: 2.8rem;
    }

    .container {
        padding-right: 16px;
        padding-left: 16px;
        grid-column-gap: 16px;
        grid-template-rows: 60px repeat(4 , 9rem) repeat(13, 9rem) 6rem;
    }

    .front-page-project-container, .project-page-container {
        grid-column: 1/13;
        grid-row: 7/34;
        margin-top: -9rem;
        margin-bottom: 9rem;
    }

    .project-page-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .front-page-project {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    .half, .quarter, .third, .two-third {
        width: 100%;
    }

    .half img {
        justify-content: center;
        order: 0;
        margin-bottom: 1rem;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 1;
    }

    .order-3 {
        order: 1;
    }

    .info-meta {
        display: none;
    }

    .info-name-container {
        grid-column: 1/13;
    }

    .info-description-container {
        grid-column: 1/13;
    }

    .info-current-container{
        grid-column: 1/13;
        margin-bottom: 0;
    }

    ol {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 12px;
    }



    /* ----- Project specific stuff -------*/

    .project-image-container {
        grid-column: 1/14;
        grid-row: 3;
        transform: scale(1.2);
    }


}






@media only screen and (max-width: 320px) {
    html {
        font-size: 16px;
    }

    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
